In [1]:
import pandas as pd
data = pd.read_csv("datasets/kc_house_data.csv")

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
#1) Quantas casas estão disponíveis para compra?
data['id'].count()

21613

In [8]:
data[['bedrooms','bathrooms','floors','waterfront']].columns

Index(['bedrooms', 'bathrooms', 'floors', 'waterfront'], dtype='object')

In [18]:
data[data['price'] == data['price'].max()]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000.0,6,8.0,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

In [16]:
data[data['bedrooms'] == data['bedrooms'].max()]['id']

15870    2402100895
Name: id, dtype: int64

In [17]:
data['bedrooms'].sum()

72854

In [27]:
data[data['bathrooms'] == 2.0]['bathrooms'].count()

1930

In [30]:
data['price'].mean().round(0)

540088.0

In [32]:
data[data['bathrooms'] == 2.0]['price'].mean().round(0)

457890.0

In [58]:
data[data.iloc[:,4] == 2]['price'].mean().round(0)

457890.0

In [60]:
data[data.iloc[:,3] == 3]['price'].min()

82000.0

In [63]:
data[data.iloc[:,6] > 3329]['id'].count()

19445

In [64]:
data[data.iloc[:,7] > 2].shape

(782, 21)

In [ ]:
data[data.iloc[:,7] > 2].shape

In [73]:
data[data['view'] == 1].shape

(332, 21)

In [116]:
data[data['view'] == 1][data[data['view'] == 1]['bedrooms'] == 3].shape

(120, 21)

In [119]:
data[data['sqft_living'] > 3329][data[data['sqft_living'] > 3329]['bathrooms'] > 2].shape

(1919, 21)